
<div class="container">
  <form [formGroup]="editUser" (ngSubmit)="submitChanges()">
    <label>user name</label>
    <input class="form-control" formControlName="username">
    <label>first name</label>
    <input class="form-control" formControlName="firstname">
    <label>last name</label>
    <input class="form-control" formControlName="lastname">
    <label>Profile Image Url</label>
    <input class="form-control" formControlName="imgurl">
    <br>
    <button class="btn btn-primary">Save Changes</button>


  </form>
</div>
