.container {
  padding-top: 5px;
  /*display: flex;*/
  display: block;
  width: content-box;
  border: darkgray;
  /*border-color: aquamarine;*/
  background-color: #DEDEDE;
  width: 650px;
  height: 100%;
}

.card {
  padding: 3px;
  margin: 3px;
}
